<div class="header__border">
    <div class="header__content">
        <a href="index.html"><img class="header__content_img" src="images/logo.png" alt="Dolce Little Friend"></a>
        <div class="header__text">
            <ul class="header__list">
                <li class="header__list_item">
                    <img src="images/marker.png" alt="Померанский шпиц">
                    <a href="#">Померанский шпиц</a>
                </li>
                <li class="header__list_item">
                    <img src="images/marker.png" alt="Той-терьер">
                    <a href="#">Той-терьер</a>
                </li>
                <li class="header__list_item">
                    <img src="images/marker.png" alt="Малтийская болонка">
                    <a href="#">Малтийская болонка</a>
                </li>
            </ul>
            <h1 class="header__text_h1">Dolce Little Friend</h1>
        </div>
    </div>
</div>