<div class="issues__item">
    <h3 class="issues__item_name">Как выбрать щенка?</h3>
    <div class="issues__content">
        <p class="issues__content_text">
            Какие стандарты породы? Что такое шоу-класс, брид-класс и пэт-класс? Мальчик или девочка?
            Какой окрас выбрать? Какого размера и веса должна быть собачка? Характер?
        </p>
        <div class="issues__content_image" >
            <img src="images/breed-4.png" alt="" >
        </div>
    </div>
</div>
<div class="issues__item">
    <h3 class="issues__item_name">Какую породу выбрать?</h3>
    <div class="issues__content">
        <p class="issues__content_text">
            Пушистые, игривые комочки шпицы? Невероятно жизнерадостные той-терьеры? Утонченная и нежная
            мальтезе?
        </p>
        <div class="issues__content_image" >
            <img src="images/breed-5.png" alt="" >
        </div>
    </div>
</div>