@font-face {
    font-family: 'ArialMT';
    src:url("../fonts/ArialMT.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Hortensia';
    src:url("../fonts/Hortensia.ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-top:9px; 
    overflow-y: hidden;
}

/*****header******/

.header {
    max-width: 100%;
    padding: 10px;
    background-color: #3b1f74;
}

.header__border {
    border: 2px solid #deddf3;
} 

.header__content {
    width: 1166px;
    margin: 0 auto;
    background-color: transparent;
}

.header__content_img {
    position: absolute;
    top:0;
}

.header__content_img {
    width: 10%;
}

.header__text {
    display: flex;
    justify-content: space-between;
    margin-left: 240px;
}

.header__text_h1 {
    font-size: 28px;
    letter-spacing: 0.3px;
    color: #deddf3;
    margin: 30px 0;
    line-height: 1.2;
}

.header__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.header__list_item {
    display: flex;
    align-items: center;
    list-style-type: none;
}
.header__list_item img {
    width: 10%;
}

.header__list_item:nth-child(2) {
    margin-left: 20px;
}

.header__list_item a {
    margin-left: 20px;
    text-decoration: none;
    color:#fbfbfb;
    font-size: 13px;
}

/*navigation*/
.nav {
    width: 1166px;
    margin:30px auto 0 auto;
    border-top:2px solid #3b1f74;
    border-bottom:2px solid #3b1f74;
}

.nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding:1px 0;
}

.nav__list_item {
    list-style-type: none;
}

.nav__list_item a {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 20px;
    font-weight: bolder;
    color:#3b1f74;
    text-decoration: none;
}

/*main*/
.main {
    width: 1166px;
    margin: 60px auto 0 auto;
    display: flex;
    justify-content: space-between;
}

.main__text {
    width: 50%;
}

.main__text_greeting {
    font-family: Arial;
    font-size: 20px;
    letter-spacing: 0.1px;
    text-indent: 40px;
    color: #444444;
    text-align: justify;
}

.main__list {
    margin-top: 70px;
}

.main__list_item {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.main__list_item img {
    width: 4%;
}

.main__list_item a {
    text-decoration: underline;
    font-size: 22px;
    color:#3b1f74;
    margin-left: 20px;
}
.main__image {
    width: 45%;
    position: relative;
    top:-27px;
    right:0;
}

/*footer*/
.footer {
    margin-top: 45px;
    width: 100%;
    height: 70px;
    background-color: #3b1f74;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer img {
    width: 70%;
}
.footer a {
    margin: 0 15px;
}


/* о породе */
.about-breed {
    width: 1166px;
    margin: 80px auto 0 auto;
    display: flex;
    text-align: center;
}
.about-breed__item {
    background-color: #eeedf9;
    padding: 25px;
    margin-right: 15px;
}
.about-breed__item:last-child {
    margin-right: 0;
}
.about-breed__item_name {
    font-family: Hortensia;
    font-weight: bolder;
    font-size: 34px;
    color:#3b1f74;
}
.about-breed__item_text {
    margin-top: 25px;
    font-size: 18px;
}
.about-breed__link {
    display: block;
    margin-top: 30px;
    font-size: 20px;
    text-decoration: underline;
    color: black;
    text-transform: uppercase;
}
.about-breed__item_image {
    margin-top: 30px;
}

/*issues*/
.issues {
    display: flex;
    justify-content: space-between;
    width: 1166px;
    margin: 60px auto 0 auto;
    border-top: 1px solid #3b1f74;
    padding-top: 60px; 
}

.issues__item {
    width: 45%; 
    border: 1px solid #3b1f74;
    text-align: center;
    padding: 30px 0 0 30px;
}

.issues__item_name {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

.issues__content {
    display: flex;
}

.issues__content_text {
    margin-top: 30px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
}

.issues__content_image {
    width: 1000px;
}
.issues__item:nth-child(2) .issues__content_image {
    position: relative;
    top:18px;
}

/*наши собаки*/
.dogs {
    width: 1166px;
    margin: 40px auto 0 auto;
}

.dogs__title {
    font-size:40px;
    text-align: left;
    margin-bottom: 30px;
}

.dogs__item {
    display: flex;
    justify-content: space-around;
    padding: 20px 10px 20px 10px;
    margin-bottom: 40px;
    background-color: #d8d2e3;
}

.dogs__item_info {
    margin-left:55px; 
}

.dogs__item_name {
    font-family: Hortensia;
    font-size: 42px;
    color:#3b1f74;
}

.dogs__item_text {
    font-size: 23px;
    margin-top: 10px;
}


/*farm*/

.page-farm .issues {
    padding: 0;
    border: 0;
}
.farm {
    width: 1166px;
    margin: 0 auto;
}

.farm_title {
    font-size: 35px;
    margin-top:35px;
    text-align: center;
}

.farm_text {
    margin-top: 45px;
    font-size: 20px;
    line-height: 1.2;
    text-align: justify;
    text-indent: 40px;
    color:#444444;
}

.farm__images {
    margin-top: 45px;
}

.bx-wrapper {
    border-top:1px solid #3b1f74;
    border-bottom: 1px solid #3b1f74;
    padding: 20px 0;
}

.bx-wrapper .bx-pager {
    display: none;
}


/*breed-shpiz*/
.breed-shpiz {
    width: 1166px;
    margin: 0 auto 100px auto;
}

.breed-shpiz_title {
    font-size: 40px;
    margin: 40px 0 20px 0;
}

.breed-shpiz__content {
    font-size: 22px;
    color:#0e0e0e;
    line-height: 1.2;
    text-align: justify;
    text-indent: 20px;
}

.breed-shpiz__content p {
    text-indent: 30px;
}

.breed-shpiz__content_img {
    float: left;
    margin-right: 20px;
}
.breed-shpiz__content_img~.img-2 {
    float: right;
    margin:0 0 0 20px;
    width: 33%;
}
.breed-shpiz__content_img~.img-3 {
    width: 26%;
    margin-top: 35px;
}
.breed-shpiz__content_title {
    margin: 30px 0 20px 0;
    font-size: 25px;
    font-weight: bolder;
}


/*puppies*/
.puppies {
    width: 1166px;
    margin: 40px auto 0 auto;
    background-color: #ebe8f1;
}

.puppies__item {
    padding: 20px;
    margin-bottom: 20px;
}

.puppies__item:nth-child(2) .puppies__content_images {
    justify-content: start;
}

.puppies__item:nth-child(3) .puppies__content_images:nth-child(2) {
    justify-content: start;
}

.puppies__item_title {
    font-size: 25px;
}

.puppies__content_images {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top: 20px;
}

.puppies__content_parent {
    width: 190px;
}

.puppies__content_parent p {
    font-size: 14px;
    padding: 0 10px;
    text-align: center;
}
.puppies__content_oper {
    font-size: 100px;
    margin-top: 40px;
}


/*contacts*/
.contacts__content {
    width: 700px;
    margin: 40px auto 0 auto;
    padding: 20px 30px;
    background-color: #d8d2e3;
    text-align: left;
}

.contacts__content_title {
    font-size: 21px;
    font-weight: bold;
}

.contacts__content_adress {
    margin-top: 20px;
    font-size: 16px;
    color: #3b1f74;
}

.contacts__content_adress p {
    font-weight: bold;
    margin: 8px 0;
}
.contacts__content_adress span {
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}

.contacts__content_comment {
    margin-top: 30px;
    font-size: 14px;
    color: #8d8c8e;
}

.contacts__content_form {
    margin-top: 20px;
}

.contacts__content_form input, textarea {
    width: 100%;
    margin-top: 10px;
    padding: 10px 10px;
}
.contacts__content_form textarea {
    height: 100px
}
.contacts__content_form button {
    margin-top: 20px;
    border: 0;
    background-color: transparent;
    font-size: 22px;
    font-weight: bold;
    color: #3b1f74;
}




